<div class="internal">
  <header>
    <div class="container pt-3">
      <div class="row">
        <div class="col-8">
        
        </div>
        <div class="col-4 text-right">
        
        </div>
      </div>
    </div>
  </header>

  <main class="container">
    <router-outlet></router-outlet>
  </main>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-6">
        </div>
        <div class="col-6">
        </div>
      </div>
    </div>
  </footer>
</div>
